 
p{
	font-family: courier;
	color: red;
	background-color:powderblue;

}
    
 h2{
 	color: blue;
 	text-align:centre;
   font-family:verdana;
 }
 h3{
 	color: blue;
 	font-family: courier;
 	font-size: 160%
 }